# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
*.env.local

# Node
node_modules/
perftrack_frontend/node_modules/
perftrack_frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
___All_Errors.txt
*.pyc
